<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery-3.4.1.slim.min.js"> </script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/popper.min.js"> </script>
    <script src="js/bootstrap.min.js"> </script>

   
    <title>Pollos DOÑA AGRI</title>
</head>

<body>
    <div id="cargando" align="center">
        <img src="img/Hermitcrab.gif" alt="cargando">
    </div>
    <script>
        $("#cargando").hide();
    </script>
    <div id="contenido">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">Pollos Doña Agri</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/producto">Producto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/comandas">Comandas</a>
                    </li>
                </ul>
            </div>
        </nav>